bin/
build/
autom4te.cache/
ABOUT-NLS
aclocal.m4
compile
config.guess
config.h.in
config.log
config.rpath
config.status
config.sub
config.h
configure
depcomp
install-sh
missing
stamp-h1
Makefile
Makefile.in
secdat-*.tar.gz
secdat-*.tar.xz
secdat-*.tar.bz2
*.o
*.a
*.so
*.out
src/.deps/
src/Makefile
src/Makefile.in
src/secdat
po/.locale/
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/*.gmo
po/*.pot
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/Makefile
m4/*.m4
*~
.envrc
